{% extends 'teacher/base.html' %}
{% block connect %}
    <div class="x-body">
    <form class="layui-form" method="post" action="/teacher/changePassword/">
        {% csrf_token %}
        <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">
                        <span class="x-red">*</span>新密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                        <span class="x-red">*</span>确认密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                {% if result.statu == 'error' %}
                    <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <p style="font-size: 16px;color: red;margin-right: 100px;" class="layui-input-inline">两次输入不同</p>
                    </div>
                {% elif result.statu == 'same' %}
                    <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <p style="font-size: 16px;color: red;margin-right: 100px;" class="layui-input-inline">新密码不能与旧密码相同</p>
                    </div>
                {% elif result.statu == 'success' %}
                    <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <p style="font-size: 16px;color: #00ff01;margin-right: 100px;" class="layui-input-inline">修改成功,正在跳转…</p>
                    </div>
                    <script type="text/javascript">
                            onload=function(){
                                setTimeout(go, 3000);
                            };
                            function go(){
                                location.href="/teacher/login/";
                            }
                    </script>
                {% endif %}
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <input value="确认修改" type="submit" class="layui-btn" lay-filter="add" lay-submit="">
                </div>
            </form>
    </div>
{% endblock %}

